/* Generated using nova-theme-generator.com */

:root {
    --transparent: transparent;
    --black: #463939;
    --white: #FFFFFF;
    --white-50: rgba(255, 255, 255, 0.5);
    --danger: #d9534f;
    --success: #02BC77;
    --warning: #FFD950;
    --info: #1e70cd;
    --primary: #a17768;
    --primary-dark: #7b594d;
    --primary-70: rgba(161, 119, 104, 0.7);
    --primary-50: rgba(161, 119, 104, 0.5);
    --primary-30: rgba(161, 119, 104, 0.3);
    --primary-10: rgba(161, 119, 104, 0.1);
    --logo: ;
    --sidebar-icon: #a3a4a6;
    --20: rgb(255, 255, 255);
    --30: rgb(243, 241, 241);
    --40: rgb(220, 213, 213);
    --50: rgb(198, 184, 184);
    --60: rgb(175, 156, 156);
    --70: rgb(152, 128, 128);
    --80: rgb(126, 103, 103);
    --90: rgb(98, 80, 80);
    --90-half: rgba(40, 54, 61, 0.5);
}

.bg-40 {
    background-color: #f4f3ef;
}

.bg-grad-sidebar {
    background-image: -webkit-gradient(linear,left bottom,left top,from(#222C3C),to(#222C3C));
    background-image: linear-gradient(0deg,#222C3C,#3c4655);
}

table {
    border-spacing: 1px;
    border-color: grey;
}

body {
    margin: 0;
    font-family: &quot;Roboto&quot;, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;
    font-size: 0.894rem;
    font-weight: 400;
    line-height: 1.47;
    color: #4E5155;
    text-align: left;
    background-color: #fff;
}